.hexGrid {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 90%;
}

.hex {
	position: relative;
	visibility: hidden;
}

.hex::after {
	content: '';
	display: block;
	padding-bottom: 86.602%;
}

.hexIn {
	margin: 0 2%;
	overflow: hidden;
	padding-bottom: 110.851%;
	position: absolute;
	width: 96%;
	transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
	margin: 0;
	outline: 1px solid transparent;
	padding: 0;
	position: absolute;
	visibility: visible;
}

.hexLink {
	color: #fff;
	display: block;
	height: 100%;
	overflow: hidden;
	text-align: center;
	width: 100%;
	transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hex img {
	height: 100%;
	left: -100%;
	margin: 0 auto;
	right: -100%;
	width: auto;
}

.hex h2,
.hex p {
	background-color: #483d8bcc;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 1.3em;
	padding: 5%;
	transition: transform .2s ease-out, opacity .3s ease-out;
	width: 100%;
}

.hex h2 {
	bottom: 50%;
	padding-top: 50%;
	transform: translate3d(0, -100%, 0);
}

.hex h2::after {
	border-bottom: 1px solid #fff;
	bottom: 0;
	content: '';
	left: 45%;
	position: absolute;
	text-align: center;
	width: 10%;
}

.hex p {
	padding-bottom: 50%;
	top: 50%;
	transform: translate3d(0, 100%, 0);
}

.hexLink:hover h2,
.hexLink:hover p {
	transform: translate3d(0, 0, 0);
}

@media (min-width: 1201px) {
	/* сетка 5 - 4 */
	.hexGrid {
		padding-bottom: 4.4%
	}

	.hex {
		width: 20%;
	}

	.hex:nth-child(9n+6) {
		margin-left: 10%;
	}
}

@media (max-width: 1200px) and (min-width: 701px) {
	/* сетка 4 - 3 */
	.hexGrid {
		padding-bottom: 5.5%
	}

	.hex {
		width: 25%;
	}

	.hex:nth-child(7n+5) {
		margin-left: 12.5%;
	}
}

@media (max-width: 700px) {
	/* сетка 3 - 2 */
	.hexGrid {
		padding-bottom: 7.4%
	}

	.hex {
		width: 33.333%;
	}

	.hex:nth-child(5n+4) {
		margin-left: 16.666%;
	}
}

/* сетка 2 - 1 */
/* @media (max-width: 600px) { 
	.hexGrid{
		padding-bottom: 11.2%
	}
	.hex {
		width: 50%; 
	}
	.hex:nth-child(3n+3){
		margin-left:25%;
	}
} */