body {
	font-family: sans-serif;
	overflow-x: hidden;
	width: 100%;
}

html {
	width: 100%;
	overflow-x: hidden;
}

.main-container {
	margin: 15px auto;
	width: 1024px;
}

.menu-container {
	font-size: 32px;
	margin: 15px auto;
	text-align: center;
}

.preview-about-me {
	display: flex;
}

.preview-about-me img {
	border-radius: 50%;
	margin: 15px 20px;
	height: 300px;
	width: 300px;
}

.name-box {
	margin: 15px;
}

.name-box p {
	font-size: 32px;
	font-weight: 600;
	margin: 15px 0;
	padding: 0;
}

.technologies {
	display: flex;
	flex-wrap: wrap;
}

.technologies p {
	background-color: dimgrey;
	border: 15px solid dimgrey;
	border-radius: 50%;
	color: white;
	font-size: 16px;
	margin: 10px 15px 5px 0;
	transition: transform .3s;
}

.technologies p:hover {
	background-color: darkslateblue;
	border-color: darkslateblue;
	transform: scale(1.3);
	user-select: none;
}

.big-sliding-text-container {
	font-size: 132px;
	font-weight: 600;
	margin: 0 auto;
	text-align: right;
	user-select: none;
}

.big-sliding-text-container-2 {
	margin: -20px auto 140px;
}

.header-big {
	color: gray;
	font-size: 132px;
	font-weight: 600;
	user-select: none;
	white-space: nowrap;
}

.header-small {
	font-size: 64px;
	font-weight: 600;
	height: 30px;
	margin: 0;
	position: relative;
	left: 20px;
	top: -56px;
	white-space: nowrap;
}

p {
	font-size: 24px;
}

.contacts-container {
	margin: 15px 0;
	padding-bottom: 30px;
}

.contact {
	margin: 15px 0;
	font-size: 32px;
}

.contact a {
	color: black;
	text-decoration: none;
}

.contact a:hover {
	color: darkslateblue;
}

.rectangle {
	width: 50px;
	background: dimgrey;
	display: inline-block;
	border-radius: 12px;
	margin-right: 15px;
}

.contact a:hover .rectangle{
	background: darkslateblue;
	animation: contacts-animation .4s linear forwards;
}

.contact a:not(:hover) .rectangle{
	animation: contacts-animation-disable .4s linear forwards;
}

@keyframes contacts-animation {
	0% {
		width: 50px;
	}
	50% {
		width: 70px;
	}
	100% {
		width: 50px;
		margin-left: 35px;
	}
}

@keyframes contacts-animation-disable {
	0% {
		width: 50px;
		margin-left: 35px;
	}
	50% {
		width: 70px;
	}
	100% {
		width: 50px;
	}
}

.contact-link {
	color: gray;
}

.footer-container {
	margin-top: 50px;
	padding-bottom: 150px;
	display: block;
}

.footer-container hr {
	border: 3px solid dimgrey;
	width: 70%;
	border-radius: 3px;
	margin: 15px auto;
	margin-bottom: 150px;
	background-color: dimgrey;
	transform: scaleX(0);
}

.button-up {
	border-radius: 35px;
	border: 5px solid dimgrey;
	font-size: 24px;
	padding: 15px;
	background-color: white; 
}

.button-up a {
	white-space: nowrap;
	text-decoration: none;
	padding: 15px 15px;
	margin: 15px;
	color: black;
}

.button-up:hover span {
	color: darkslateblue;
}

.button-up:hover {
	background-color: #e7e7e7;
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1200px) {
	.main-container {
		width: 95%;
		margin: 15px auto;
	}
}

@media (max-width: 700px) {
	.preview-about-me {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
		/**/
  /*align-items: center;*/
  /*align-content: center;
	}
	.name-box * {
  align-items: center;
  align-self: center;

	}*/
	/*.preview-about-me img {
		margin-right: auto;
		margin-left: auto;
	}*/
}